<div class="review-form">
    <h5 class="comment-title">Have Any Question</h5>
    <div class=" account-inner-form">
        <div class="review-form-name">
            <label for="fname" class="form-label">Name*</label>
            <input type="text" id="fname" class="form-control" placeholder="Name">
        </div>
        <div class="review-form-name">
            <label for="email" class="form-label">Email*</label>
            <input type="email" id="email" class="form-control" placeholder="user@gmail.com">
        </div>
        <div class="review-form-name">
            <label for="subject" class="form-label">Subject*</label>
            <input type="text" id="subject" class="form-control" placeholder="Subject">
        </div>
    </div>
    <div class="review-textarea">
        <label for="floatingTextarea">Massage*</label>
        <textarea class="form-control" placeholder="Write Massage..........." id="floatingTextarea" rows="3"></textarea>
    </div>
    <div class="login-btn">
        <a href="#" class="shop-btn">Send Now</a>
    </div>
</div>