<!--------------- footer-section--------------->
<section class="product footer">
    <div class="container">
        <div class="footer-service-section">
            <div class="row gy-4">
                <div class="col-lg-3  col-sm-6">
                    <div class="service-wrapper free-shipping">
                        <div class="service-img">
                            <i class="bi bi-cart-check text-light" style="font-size: 40px;"></i>
                        </div>
                        <div class="service-content">
                            <h5 class="service-info service-title">Free Shipping</h5>
                            <p class="service-info service-details">When ordering over $100</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="service-wrapper free-shipping">
                        <div class="service-img">
                            <i class="bi bi-arrow-clockwise text-light" style="font-size: 40px;"></i>
                        </div>
                        <div class="service-content">
                            <h5 class="service-info service-title">Free Return</h5>
                            <p class="service-info service-details">Get Return within 30 days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="service-wrapper free-shipping">
                        <div class="service-img">
                            <i class="bi bi-shield-lock text-light" style="font-size: 40px;"></i>
                        </div>
                        <div class="service-content">
                            <h5 class="service-info service-title">Secure Payment</h5>
                            <p class="service-info service-details">100% Secure Online Payment</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="service-wrapper free-shipping">
                        <div class="service-img">
                            <i class="bi bi-trophy text-light" style="font-size: 40px;"></i>
                        </div>
                        <div class="service-content">
                            <h5 class="service-info service-title">Best Quality</h5>
                            <p class="service-info service-details">Original Product Guarenteed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-section">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-order" style="margin-top: -20px;">
                        <div class="logo">
                            <img src="{{settingData.logoBottom}}" height="100px" alt="logo">
                        </div>
                        <div class="contact-info" style="margin-top: -40px;">
                            <div class="footer-link contact-link">
                                <div class="address">
                                    <div class="icon">
                                        <i class="bi bi-geo-alt fs-1 text-light"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="footer-heading">Address:</h4>
                                        <a href="{{settingData.map1}}" target="_blank">{{settingData.address}}</a>
                                    </div>
                                </div>
                                <div class="address">
                                    <div class="icon">
                                        <i class="bi bi-envelope fs-1 text-light"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="footer-heading">Email:</h4>
                                        <a href="mailto:{{settingData.email}}" target="_blank">{{settingData.email}}</a>
                                    </div>
                                </div>
                                <div class="address">
                                    <div class="icon">
                                        <i class="bi bi-telephone fs-1 text-light"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="footer-heading">Phone:</h4>
                                        <a href="tel:{{settingData.phone}}" target="_blank">{{settingData.phone}}</a>
                                    </div>
                                </div>
                                <div class="address">
                                    <div class="icon">
                                        <i class="bi bi-whatsapp fs-1 text-light"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="footer-heading">Whatsapp:</h4>
                                        <a href="http://wa.me/{{settingData.whatsapp}}"
                                            target="_blank">{{settingData.whatsapp}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-contact my-4">
                            <a href="{{settingData.facebook}}" target="_blank" class="text-light me-3"><i
                                    class="bi bi-facebook me-2"></i></a>
                            <a href="{{settingData.twitter}}" target="_blank" class="text-light me-3"><i
                                    class="bi bi-twitter me-2"></i></a>
                            <a href="{{settingData.linkedin}}" target="_blank" class="text-light me-3"><i
                                    class="bi bi-linkedin me-2"></i></a>
                            <a href="{{settingData.instagram}}" target="_blank" class="text-light me-3"><i
                                    class="bi bi-instagram me-2"></i></a>
                            <a href="{{settingData.youtube}}" target="_blank" class="text-light me-3"><i
                                    class="bi bi-youtube me-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="about-us">
                        <h4 class="footer-heading footer-title">
                            Quick Links
                        </h4>
                        <div class="footer-link about-link">
                            <ul>
                                <li><a routerLink="/">Home</a></li>
                                <li><a routerLink="/about">About</a></li>
                                <li><a routerLink="/shop">Shop</a></li>
                                <li><a routerLink="/features">Features</a></li>
                                <li><a routerLink="/faq">Faq</a></li>
                                <li><a routerLink="/testimonial">Testimonials</a></li>
                                <li><a routerLink="/contactus">ContactUs</a></li>
                                <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                <li><a routerLink="/tc">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <h4 class="footer-heading footer-title">About Us</h4>
                    <p class="text-light mb-5">{{settingData.siteName}} is your trusted online shopping destination for
                        quality
                        products at affordable prices.
                        We focus on delivering a smooth, secure, and convenient shopping experience with genuine
                        products, fast delivery, and reliable customer support. Our goal is to make online shopping
                        simple, accessible, and enjoyable for everyone.</p>
                    <h4 class="footer-heading footer-title">Subscribe Our Newsletter Service</h4>
                    <form (submit)="postData($event)">
                        <div class="btn-group w-100">
                            <input type="email" name="email" (change)="getInputData($event)" placeholder="Email Address" class="form-control p-3 fs-3">
                            <button class="btn text-light myBackground fs-3" type="submit">Subscribe</button>
                        </div>
                    </form>
                    @if (message) {
                        <p class="text-light">{{message}}</p>
                    }
                    <p class="text-light mt-5">
                        Stay updated with the latest offers, new arrivals, and exclusive deals from Apnu Dukan.
                        Subscribe to our newsletter and be the first to know about special discounts, seasonal sales,
                        and shopping tips—delivered straight to your inbox.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center text-light">© {{date.getFullYear()}} {{settingData.siteName}} | Designed with
            ❤️ for smart shopping.</p>
    </div>
</section>
<!--------------- footer-section-end--------------->