<app-navbar></app-navbar>
<app-breadcrum title="{{data.name}}"></app-breadcrum>

<!--------------- products-info-section--------------->
<section class="product product-info">
    <div class="container">
        <div class="product-info-section" style="margin-top: -100px;">
            <div class="row ">
                <div class="col-md-6">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            @for (item of data.pic; track $index) {
                            <div class="carousel-item" [ngClass]="$index==0?'active':''">
                                <img src="{{imageServerUrl}}/{{item}}" style="height: 500px;" class="d-block w-100"
                                    alt="...">
                            </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-info-content">
                        <span class="wrapper-subtitle">{{data.maincategory}} Latest Products</span>
                        <h5>{{data.name}}</h5>
                        <div class="price">
                            <span class="price-cut">&#8377;{{data.basePrice}}</span>
                            <span class="new-price">&#8377;{{data.finalPrice}}</span>
                            <sup class="fs-3">{{data.discount}}% Off</sup>
                        </div>
                        <p class="content-paragraph">{{data.maincategory}} > {{data.subcategory}} > {{data.brand}}</p>
                        <hr>
                        <div class="product-availability">
                            <span>Availabillity : </span>
                            @if (data.stock) {
                            <span class="inner-text">{{data.stockQuantity}} Products Available</span>
                            }
                            @else{
                            <span class="inner-text">Out Of Stock</span>
                            }
                        </div>
                        <div class="product-size">
                            <P class="size-title">Color</P>
                            <div class="btn-group">
                                @for (item of data.color; track $index) {
                                <button class="btn btn-light btn-lg border-info border-3"
                                    (click)="changeSelected('color',item)"
                                    [ngClass]="selected.color===item?'myBackground text-light':''">{{item}}</button>
                                }
                            </div>
                        </div>
                        <div class="product-size">
                            <P class="size-title">Size</P>
                            <div class="btn-group">
                                @for (item of data.size; track $index) {
                                <button class="btn btn-light btn-lg border-info border-3"
                                    (click)="changeSelected('size',item)"
                                    [ngClass]="selected.size===item?'myBackground text-light':''">{{item}}</button>
                                }
                            </div>
                        </div>
                        @if (data.stock) {
                        <div class="product-quantity">
                            <div class="quantity-wrapper">
                                <div class="quantity">
                                    <button class="btn btn-primary myBackground btn-lg fs-1"
                                        (click)="updateQuantity('dec')">-</button>
                                    <span class="number">{{selected.qty}}</span>
                                    <button class="btn btn-primary myBackground btn-lg fs-1"
                                        (click)="updateQuantity('inc')">+</button>
                                </div>
                            </div>
                            <div class="btn-group w-100">
                                <button class="shop-btn" (click)="addToWishlist()">
                                    <i class="bi bi-heart-fill"></i> Add to Wishlist
                                </button>
                                <button class="shop-btn" (click)="addToCart()">
                                    <i class="bi bi-cart"></i> Add to Cart
                                </button>
                            </div>
                        </div>
                        }
                        @else {
                        <button class="shop-btn" (click)="addToWishlist()">
                            <i class="bi bi-heart-fill"></i> Add to Wishlist
                        </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------- products-info-end--------------->

<!--------------- products-details-section--------------->
<section class="product product-description">
    <div class="container">
        <div class="product-detail-section">
            <nav>
                <div class="nav nav-tabs nav-item" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
                    <button class="nav-link" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review"
                        type="button" role="tab" aria-controls="nav-review" aria-selected="false">Reviews</button>
                </div>
            </nav>
            <div class="tab-content tab-item" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                    tabindex="0">
                    <div [innerHTML]="description"></div>
                </div>
                <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab"
                    tabindex="0">
                    <div class="product-review-section">
                        <h5 class="intro-heading">Reviews</h5>

                        <div class="review-wrapper">
                            <div class="wrapper">
                                <div class="wrapper-aurthor">
                                    <div class="wrapper-info">
                                        <div class="aurthor-img">
                                            <img src="./assets/images/homepage-one/aurthor-img-1.webp"
                                                alt="aurthor-img">
                                        </div>
                                        <div class="author-details">
                                            <h5>Sajjad Hossain</h5>
                                            <p>London, UK</p>
                                        </div>
                                    </div>
                                    <div class="ratings">
                                        <span>
                                            <svg width="75" height="15" viewBox="0 0 75 15" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M7.5 0L9.18386 5.18237H14.6329L10.2245 8.38525L11.9084 13.5676L7.5 10.3647L3.09161 13.5676L4.77547 8.38525L0.367076 5.18237H5.81614L7.5 0Z"
                                                    fill="#FFA800" />
                                                <path
                                                    d="M22.5 0L24.1839 5.18237H29.6329L25.2245 8.38525L26.9084 13.5676L22.5 10.3647L18.0916 13.5676L19.7755 8.38525L15.3671 5.18237H20.8161L22.5 0Z"
                                                    fill="#FFA800" />
                                                <path
                                                    d="M37.5 0L39.1839 5.18237H44.6329L40.2245 8.38525L41.9084 13.5676L37.5 10.3647L33.0916 13.5676L34.7755 8.38525L30.3671 5.18237H35.8161L37.5 0Z"
                                                    fill="#FFA800" />
                                                <path
                                                    d="M52.5 0L54.1839 5.18237H59.6329L55.2245 8.38525L56.9084 13.5676L52.5 10.3647L48.0916 13.5676L49.7755 8.38525L45.3671 5.18237H50.8161L52.5 0Z"
                                                    fill="#FFA800" />
                                                <path
                                                    d="M67.5 0L69.1839 5.18237H74.6329L70.2245 8.38525L71.9084 13.5676L67.5 10.3647L63.0916 13.5676L64.7755 8.38525L60.3671 5.18237H65.8161L67.5 0Z"
                                                    fill="#FFA800" />
                                            </svg>
                                        </span>
                                        <span>(5.0)</span>
                                    </div>
                                </div>
                                <div class="wrapper-description">
                                    <p class="wrapper-details">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                        text ever since the redi 1500s, when an unknown printer took a galley of
                                        type and scrambled it to make a type specimen book. It has survived not only
                                        five centuries but also the on leap into electronic typesetting, remaining
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------- products-details-end--------------->

<app-product-slider [data]="relatedproducts" title="Related Products"></app-product-slider>

<app-footer></app-footer>