<div class="my-3">
    <button class="btn btn-primary myBackground p-3 float-end" (click)="createRecord()">Add New Address</button>
</div>
<div style="clear: both;">
    @for (item of data.address; track $index) {
    <div class="card p-3">
        <p>{{item.name}}</p>
        <p>{{item.phone}},{{item.email}}</p>
        <p>{{item.address}}</p>
        <p>{{item.pin}},{{item.city}},{{item.state}}</p>

        <div class="position-absolute end-0">
            <div class="btn-group">
            <button class="btn btn-primary btn-lg">Edit</button>
            <button class="btn btn-danger btn-lg">Delete</button>
        </div>
        </div>
    </div>
    }
</div>


<div class="modal fade" [ngClass]="showModal?'show d-block':'d-none'" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{option}} Address Record</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="setShowModal()"></button>
            </div>
            <form [formGroup]="myForm" (submit)="postData()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Name*</label>
                            <input type="text" name="name" formControlName="name" placeholder="Fulll Name"
                                class="form-control">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Email*</label>
                            <input type="text" name="email" formControlName="email" placeholder="Email Address"
                                class="form-control">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Phone*</label>
                            <input type="text" name="phone" formControlName="phone" placeholder="Phone Number"
                                class="form-control">
                        </div>
                        <div class="col-12 mb-3">
                            <label>Address*</label>
                            <textarea  name="address" formControlName="address" placeholder="Address"
                                class="form-control"></textarea>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Pin Code*</label>
                            <input type="text" name="pin" formControlName="pin" placeholder="Pin Code"
                                class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>City Name*</label>
                            <input type="text" name="city" formControlName="city" placeholder="City Name"
                                class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>State Name*</label>
                            <input type="text" name="state" formControlName="state" placeholder="State Name"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary myBackground p-3 btn-lg w-100"
                        [disabled]="myForm.invalid">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>