<!--------------- flash-section--------------->
<section class="product flash-sale">
    <div class="container">
        <div class="section-title">
            <h5>Out Latest Products</h5>
            <div class="countdown-section">
                <div class="countdown-items">
                    <button class="text" (click)="changeSelected('All')">All</button>
                </div>
                @for (item of maincategory; track $index) {
                <div class="countdown-items">
                    <button class="text" (click)="changeSelected(item.name)">{{item.name}}</button>
                </div>
                }
            </div>
            <a routerLink="/shop" class="view">Shop Now</a>
        </div>
        <div class="flash-sale-section">
            <div class="row g-5">
                @for (item of data; track $index) {
                <div class="col-lg-3 col-md-6">
                    <div class="product-wrapper" data-aos-duration="100">
                        <div class="product-img">
                            <img src="{{imageServerUrl}}/{{item.pic[0]}}" style="height: 300px;width: 100%;"
                                alt="product-img">
                        </div>
                        <div class="d-flex justify-content-between">
                            <h4 class="fs-4 mx-3">{{item.brand}}</h4>
                            <h4 class="fs-4 mx-3">{{item.stock?`${item.stockQuantity} Left In Stock`:'Out Of Stock'}}
                            </h4>
                        </div>
                        <div class="product-info text-center">
                            <div class="product-description">
                                <a [routerLink]="['/product']" [queryParams]="{id:item.id}"  class="product-details">{{item.name}}</a>
                                <div class="fs-4 mt-2">
                                    <del class="price-cut">&#8377;{{item.basePrice}}</del>
                                    <span class="new-price">&#8377;{{item.finalPrice}}</span>
                                    <sup class="fs-5">{{item.discount}}% Off</sup>
                                </div>
                            </div>
                        </div>
                        <div class="product-cart-btn">
                            <a [routerLink]="['/product']" [queryParams]="{id:item.id}" class="product-btn">Add To
                                Cart</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>
<!--------------- flash-section-end--------------->