@if (data.length) {
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Brand</th>
                <th>Color</th>
                <td>Size</td>
                <th>Stock Quantity</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (item of data; track $index) {
            <tr>
                <td>
                    <a href="{{imageServerUrl}}/{{item.pic}}" target="_blank">
                        <img src="{{imageServerUrl}}/{{item.pic}}" height="50px" width="80x" alt="">
                    </a>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.color}}</td>
                <td>{{item.size}}</td>
                <td>{{item.stockQuantity}}</td>
                <td>&#8377;{{item.price}}</td>
                <td>{{item.qty}}</td>
                <td>&#8377;{{item.total}}</td>
                <td><button class="btn btn-danger" (click)="deleteRecord(item.id)"><i class="bi bi-x fs-3"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <table>
            <tbody>
                <tr>
                    <th>Subtotal</th>
                    <td>&#8377;{{subtotal}}</td>
                </tr>
                <tr>
                    <th>Shipping</th>
                    <td>&#8377;{{shipping}}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>&#8377;{{total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}
@else {
<div class="card p-5">
    <p class="text-center fs-1 mb-3">No Items in Cart</p>
    <a routerLink="/shop" class="shop-btn w-25 m-auto">Shop Now</a>
</div>
}